#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;
    background: #61e294;
    color: #2a3d45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding: 120px 80px;

    img {
      max-width: 600px;
      margin-bottom: 56px;
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 16px;
      max-width: 600px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      max-width: 600px;
    }
  }

  main {
    flex: 8;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      max-height: 96px;
    }

    .create-room {
      margin-top: 64px;
      height: 50px;
      border-radius: 8px;
      font-weight: 500;
      background: #fff;
      color: #2a3d45;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid #8b939c;
      transition: filter 0.2s;

      img {
        margin-right: 8px;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }

    .separator {
      font-size: 14px;
      color: #8b939c;
      margin: 32px 0;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        flex: 1;
        height: 1px;
        background: #8b939c;
        margin-right: 16px;
      }

      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #8b939c;
        margin-left: 16px;
      }
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: "Poppins", sans-serif;
      color: #2a3d45;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #8b939c;
        color: #2a3d45;
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: #8b939c;
      margin-top: 16px;

      a {
        color: #118ab2;
      }
    }
  }
}
