* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}

.dark {
  background: #2a3d45;

  .button {
    &.outlined {
      background: #26353b;
    }

    &.signOut {
      background: #26353b;
    }
  }
}
