#page-room {
  min-height: 100vh;

  &.dark {
    header {
      border-color: #26353b;
    }

    .room-code {
      background: #26353b;
      color: #fefefe;
    }

    .room-title h1 {
      color: #fefefe;
    }

    textarea {
      background: #26353b;
      color: #fefefe;

      &::placeholder {
        color: #8b939c;
      }
    }

    .form-footer {
      .user-info span {
        color: #c2c5c9;
      }

      > span {
        color: #c2c5c9;

        button {
          color: #118ab2;
        }
      }
    }

    .question {
      background: #26353b;
      color: #fefefe;

      &.highlighted {
        background: #446a53;
        border: 1px solid #61e294;

        footer .user-info span {
          color: #c2c5c9;
        }
      }

      &.answered {
        background: #414b4f;
      }

      .like-button {
        color: #c2c5c9;

        svg path {
          stroke: #c2c5c9;
        }

        &.liked {
          color: #61e294;

          svg path {
            stroke: #61e294;
          }
        }
      }
    }
  }

  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }

      > div {
        display: flex;
        gap: 16px;

        button {
          height: 40px;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div {
        display: flex;
        align-items: center;
      }

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        color: #2a3d45;
      }

      span {
        margin-left: 16px;
        background: #118ab2;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        border-radius: 9999px;
        padding: 8px 16px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);

        resize: vertical;
        min-height: 130px;
        color: #2a3d45;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: #2a3d45;

            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: #8b939c;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #118ab2;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }

  .toggle {
    display: block;
    position: relative;
    right: 0;
  }

  .toggle input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: #c2c5c9;
    float: right;
    border-radius: 100px;
    position: relative;
  }

  .toggle label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
  }

  .toggle input:checked + label {
    background-color: #26353b;
  }

  .toggle input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-color: white;
  }

  .toggle label:active:after {
    width: 45px;
  }
}
