.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #61e294;
  color: #2a3d45;
  cursor: pointer;
  display: flex;
  transition: filter 0.2;

  div {
    background: #61e294;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    font-size: 14px;
    font-weight: 500;
  }

  &:hover {
    filter: brightness(0.9);
  }
}
